/* Image Styling */
.image-container{
	flex: 1;
	order: 2;
	margin-top: 1.5rem;
	margin-right: 1rem;
}

.image-container img{
	width: 100%;
}

/* Create Account form styling */
.account-form{
	background: #ffffff;
	margin-top: -1.5rem;
	padding-left: 2rem;
	padding-bottom: 1.2rem;
}



/* MEDIA QUERIES */
/* Screen size below 320px */
@media screen and (max-width:20rem){
	.container {
		flex-direction: column;
	}

	p{
		max-width: 100%;
	}

	.image-container{
		margin: 0 auto;
		margin-top: 2rem;
		max-width: 100%;
	}

	.form-container {
		margin-left: 0;
	}

	.account-form{
		margin-left: -0.3rem;
		margin-right: -1.5rem;
	}

	.form-section{
		display: block;
		margin-right: 1.5rem;
		margin-bottom: -1.5rem;
	}

	input[type = "text"], input[type="email"]{
    	width: 80%;
  	}

	.action-btn {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

/* Screen size of 320px - 480px */
@media screen and (min-width:20rem) and (max-width:30rem){

	.sub-header{
		padding: 2.5rem 3.8rem;
	}

	.sub-header h1{
		font-size: 1.4rem;
	}

	.container {
		flex-direction: column;
	}

	p{
		max-width: 100%;
	}

	.image-container{
		margin: 0 auto;
		margin-top: 2rem;
		max-width: 70%;
	}

	.account-form{
		margin-left: -0.3rem;
		margin-right: 1rem;
	}

	.form-section{
		display: block;
		margin-right: 1rem;
		margin-bottom: -1.5rem;
	}
}

/* Screen size of 480px - 800px */
@media screen and (min-width: 30rem) and (max-width: 50rem){

	.image-container{
		margin: 0 auto;
		margin-top: 2rem;
		max-width: 75%;
	}

	.confirmation-container{
		margin: 2rem 1.5rem;
	}
}

/* Screen size of 800px - 896px */
@media screen and (min-width: 50rem) and (max-width: 56rem){

	.container{
		flex-direction: column;
	}

	p{
		max-width: 100%;
	}

	.image-container{
		margin: 0 auto;
		margin-top: 2rem;
		max-width: 75%;
	}
}

/* Screen size of 896px - 1088px */
@media screen and (min-width: 56rem) and (max-width: 68rem){

	.container{
		flex-direction: column;
	}

	p{
		max-width: 100%;
	}

	.image-container{
		margin: 0 auto;
		margin-top: 2rem;
		max-width: 70%;
	}

	.account-form{
		margin-left: -0.2rem;
	}

	.form-section{
		width: 40%;
		margin-bottom: -1.5rem;
		margin-right: 5rem;
	}
}

/* Screen size of 1088px - 1248px */
@media screen and (min-width: 68rem) and (max-width: 78rem){

	.account-form{
		margin-left: -0.2rem;
	}

    .form-section{
		width: 40%;
		margin-bottom: -1.5rem;
		margin-right: 10%;
	}
}

/* Screen size of 1248px - 1440px */
@media screen and (min-width: 78rem) and (max-width: 90rem){

	.form-container{
		padding-left: 5%;
	}

	.account-form{
		margin-left: -0.2rem;
	}

	.form-section{
		width: 40%;
		margin-bottom: -1.5rem;
		margin-right: 10%;
	}
}

/* Screen size of 1440px - 1728px */
@media screen and (min-width: 90rem) and (max-width: 108rem){

	.form-container{
		padding-left: 5%;
	}

	.account-form{
		margin-left: -0.2rem;
	}

	.form-section{
		width: 40%;
		margin-bottom: -1.5rem;
		margin-right: 10%;
	}
}

/* Screen size above 1728px */
@media screen and (min-width: 108rem){

	.form-container{
		padding-left: 5%;
	}

	.account-form{
		margin-left: -0.2rem;
	}

	.form-section{
		width: 40%;
		margin-bottom: -1.5rem;
		margin-right: 10%;
	}
}