/* Header Styling */
.main-header{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.15)), url(../img/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* padding: 9rem 3.8rem; */
  padding: 11rem 5.8% 9rem;
}

.main-header h1{
  font-size: 4rem;
  text-shadow: 0.3rem 0.3rem 2rem #000000;
}

.main-header h2{
  color: #ffffff;
  width: 60%;
  margin-top: -1.5rem;
  text-shadow: 0.3rem 0.3rem 2rem #000000;
}

/* Update Banner Text */
.updates h2 {
  display: block;
  background: #ddd;
  text-align: center;
  margin-top: 0;
  padding: 2rem;
}

.page-description p {
  max-width: 90%;
}

/* About SeeRem Image Styling */
#about-seerem .image-container{
  flex: 1;
  order: 2;
  margin-top: 1.5rem;
  margin-right: 1rem;
}

#about-seerem .image-container img{
  width: 100%;
}

/* Features and Benefits Section Styling */
.seerem.container{
  align-items: center;
}

.features.image-container {
  flex: 1;
  order: 1;
  margin-left: 1rem;
}

.seeda-features-container {
  flex: 1;
  order: 2;
  padding-right: 1rem;
  padding-left: 3rem;
  margin-bottom: 2rem;
}

.seeda-features-container p{
  max-width: 100%;
}

.seeda-benefits-container p{
  max-width: 90%;
}

.seeda-benefits-container {
  flex: 1;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.seeda-benefits-container li{
  margin-top: 0.8rem;
  margin-left: -1.4rem;
}

.benefits.image-container {
  flex: 1;
  order: 1;
  padding-left: 4rem;
}

.features.image-container img, .benefits.image-container img {
  width: 90%;
}

/* Services Section Styling */
/* #services{
  margin-left: 1rem;
  margin-right: 1rem;
}

#services.container{
  margin-top: -1.5rem;
} */

/* Container for Service Listings */
/* .service-listing-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-left: -2rem;
  margin-right: -2rem;
}

.listing1, .listing2, .listing3{
  flex: 1;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
} */

/* Sevice Listing Styling */
/* .service-listing{
  background: #ffffff;
  padding: 2rem;
} */

/* Service Listing Image Size */
/* .service-listing img{
  width: 100%;
} */

/* MEDIA QUERIES */
/* Screen size below 320px */
@media screen and (max-width:20rem){
  .main-header h2{
    width: 2rem;
    font-size: 0.75rem;
    margin-top: -1.5rem;
  }
}

/* Screen size below 480px */
@media screen and (max-width:30rem){

  .main-header{
    /* padding: 6.5rem 3.5rem 3.5rem; */
    padding: 6.5rem 9% 3.5rem;
  }

  .main-header h1{
    font-size: 2rem;
  }

  .main-header h2{
    width: 13rem;
    font-size: 0.75rem;
    margin-top: -1.5rem;
  }

  .updates h2 {
    padding: 1rem 0.8rem;
    font-size: 0.85rem;
  }

  .container {
    flex-direction: column;
  }

  .page-description p, .seeda-benefits-container p{
    max-width: 100%;
  }

  #about-seerem .image-container{
    margin: 0 auto;
    margin-top: 6rem;
    max-width: 90%;
  }

  /* .service-listing-container{
    flex-direction: column;
    margin-top: 1rem;
  } */

  .seeda-features-container{
    order: 1;
    padding-left: 1rem;
    margin-top: -3rem;
  }

  .features.image-container{
    order: 2;
    margin-top: -0.5rem;
    max-width: 100%;
    padding-left: 2rem;
  }

  .seeda-benefits-container {
    padding-left: 1rem;
    margin-top: -3rem;
  }

  .benefits.image-container{
    margin-top: -1rem;
    max-width: 90%;
    padding-left: 2rem;
  }

  /* #services.container{
    margin-top: -3rem;
  } */
}

/* Screen size of 480px - 800px */
@media screen and (min-width:30rem) and (max-width: 50rem){
  .main-header{
    /* padding: 8rem 3.4rem 5rem; */
    padding: 8rem 7% 5rem;
  }

  .main-header h1{
    font-size: 2.5rem;
  }

  .main-header h2{
    width: 17rem;
    font-size: 1rem;
    margin-top: -1.5rem;
  }

  .updates h2 {
    padding: 1.5rem 0.8rem;
    font-size: 1rem;
  }

  .container {
    flex-direction: column;
  }

  .page-description p, .seeda-benefits-container p{
    max-width: 100%;
  }

  #about-seerem .image-container{
    margin: 0 auto;
    margin-top: 6rem;
    max-width: 90%;
  }

  /* .service-listing-container{
    flex-direction: column;
    margin-top: 1rem;
  }

  .service-listing{
    padding: 3.5rem;
  } */

  .seeda-features-container {
    padding-left: 1rem;
    order: 1;
  }

  .features.image-container{
    margin-top: 0;
    order: 2;
    max-width: 90%;
    padding-left: 4rem;
  }

  .seeda-benefits-container {
    padding-left: 1rem;
  }

  .benefits.image-container{
    margin-top: -1.5rem;
    max-width: 90%;
    padding-left: 4rem;
  }
}

/* Screen size of 800px - 960px */
@media screen and (min-width: 50rem) and (max-width: 60rem){

  .main-header{
    padding: 9rem 3.8rem 6rem;
  }

  .main-header h1{
    font-size: 2.8rem;
  }

  .main-header h2{
    width: 22rem;
    font-size: 1.25rem;
    margin-top: -1.8rem;
  }

  .container {
    flex-direction: column;
  }

  .page-description p, .seeda-benefits-container p{
    max-width: 100%;
  }

  #about-seerem .image-container{
    margin: 0 auto;
    margin-top: 6rem;
    max-width: 90%;
  }

  /* .service-listing-container{
    flex-direction: column;
    margin-top: 1rem;
  }

  .listing1, .listing2, .listing3{
    margin-bottom: 4rem;
  }

  .service-listing{
    padding: 4rem;
  }

  .service-listing img{
    margin-bottom: 1rem;
  } */

  .seeda-features-container {
    order: 1;
    padding-left: 1rem;
  }

  .features.image-container{
    order: 2;
    max-width: 80%;
    padding-left: 6rem;
  }

  .seeda-benefits-container {
    padding-left: 1rem;
  }

  .benefits.image-container{
    margin-top: -2rem;
    max-width: 80%;
    padding-left: 6rem;
  }
}

/* Screen size above 960px */
@media screen and (min-width:60rem){
  .main-header h2 {
    width: 26rem;
    font-size: 1.5rem;
    margin-top: -1.8rem;
  }
}
