body{
	background: #F5F5F5;
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	margin: 0;
}

p{
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	line-height: 1.7rem;
	max-width: 80%;
}

h1{
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	color: #AE3034;
	max-width: 60%;
}

h2, h3, h4{
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	color: #AE3034;
}

a{
	text-decoration: none;
	transition: 0.5s;
	color: #954749;
}

a:hover, a:focus{
	color: #3C3C3C;
}

img{
	width: 60%;
}

/* Navigation Styling */
.main-nav{
	position: fixed;
	box-sizing: border-box;
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #ffffff;
	padding: 0.4rem 5%;
}

/* Logo in Navigation */
.nav-logo{
	flex: 1;
	margin-left: 0;
}

.nav-logo img{
	width: 12rem;
	padding: 1rem;
}

/* Navigation Links */
.nav-link-section{
	display: inline;
	flex: 3;
	text-align: right;
	padding-top: 1.1rem;
	font-size: 1.2rem;
	margin-right: 1rem;
}

.nav-link{
	color: #AE3034;
	padding-bottom: 0.2rem;
	margin-left: 2rem;
	border-bottom: 0.15rem solid #ffffff;
	transition: border 0.3s;
}

.nav-link:hover, .nav-link:focus{
	color: #3C3C3C;
	border-bottom: 0.15rem solid #3C3C3C;
}

/* Mobile Navigation Styling */
.mobile-nav {
	padding-top: 0.5rem;
}

.mobile-nav .btn {
	display: inline-block;
	cursor: pointer;
	margin: 0.5rem 0;
	padding: 0.5rem;
}

.mobile-nav .btn:hover{
	background: #FFFFFF;
}

/* Header Styling */
header{
	background: #AE3034;
	margin-top: 0;
}

.sub-header{
	margin-bottom: 1.5rem;
	/* padding: 6rem 3.8rem; */
	padding: 9rem 5.8% 5rem;
}

header h1{
	color: #ffffff;
	display: inline-block;
	padding-bottom: 0.5rem;
}

/* Content Container Styling */
.container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 1rem;
	/* padding: 2.5rem; */

	padding: 2.5rem 5%;
}

/* Page Description Styling */
.page-description{
	flex: 2;
	order: 1;
	padding-right: 2rem;
	padding-left: 1rem;
}

/* Form Styling */
/*
.contact-form{
	background: #ffffff;
	margin-top: -1.5rem;
	padding-left: 2rem;
	padding-bottom: 1.2rem;
}

.form-container{
	flex: 1;
	padding: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 3rem;
	background: #ffffff;
}

.form-container h2{
	margin-left: 0.8rem;
}

.form-section{
	padding-top: 2rem;
	margin-bottom: -2rem;
	margin-left: -1rem;
	margin-right: 5rem;
	display: inline-block;
}

.form-section p{
	margin-top: 0.2rem;
}

.form-label{
	color: #3C3C3C;
}

.learn-more{
  	margin-top: 2.5rem;
  	margin-bottom: 0.5rem;
}
*/

/* Styling Text Input Box */
/* .text-input{
	padding: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.7rem;
	border: 1px solid #3C3C3C;
	border-radius: 0.4rem;
	font-family: 'Open Sans', sans-serif;
	transition: 0.5s;
}

.text-input:hover{
	background: #ECDEDE;
}

.text-input:focus{
	border: 1px solid #AE3034;
	background: #F5F5F5;
} */

/* Change Size of Text Input Field */
/* input[type = "text"], input[type="email"]{
  	width: 100%;
} */

/* Button Container */
.action-btn-container {
	margin-top: 3rem;
} 

/* General Button Styling */
.btn{
 	padding: 1rem 1rem;
  	margin-right: 0.5rem;
  	border-radius: 10px;
  	border: 2px solid #954749;
  	background: #954749;
  	color: #ffffff;
  	font-family: 'Open Sans', sans-serif;
  	font-size: 0.9rem;
  	transition: 0.3s;
}

/* Scroll to top Button Styling */
#scrollUpbtn {
	display: none;
	cursor: pointer;
	position: fixed;
	bottom: 2rem;
	right: 3rem;
	padding: 0.7rem 1rem;
	margin-right: 0.5rem;
	border-radius: 10px;
	border: 2px solid #954749;
	background: #954749;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	transition: 0.3s;
}

.btn:hover, #scrollUpbtn:hover{
  	border: 2px solid #954749;
  	background: #F5F5F5;
  	color: #954749;
}

.btn:focus, #scrollUpbtn:focus{
  	border: 2px solid #3C3C3C;
  	background: #F5F5F5;
  	color: #3C3C3C;
}

/* Styling Radio Buttons*/
/* .radio-btn {
  	display: inline;
  	position: relative;
  	padding-left: 1.5rem;
  	margin-right: 3rem;
  	cursor: pointer;
} */

/* Hide the browser's default radio button */
/* .radio-btn input {
  	position: absolute;
  	opacity: 0;
  	cursor: pointer;
} */

/* Custom radio button */
/*
.radio-select {
  	position: absolute;
  	top: 0;
  	left: 0;
  	margin-top: 0.2rem;
  	height: 0.8rem;
 	width: 0.8rem;
  	background-color: #ffffff;
  	border: 1px solid #3C3C3C;
  	border-radius: 50%;
}

.radio-btn:hover input ~ .radio-select {
  	border: 1px solid #3C3C3C;
	background: #ECDEDE;
}
*/

/* When the radio button is selected */
/* .radio-btn input:checked ~ .radio-select {
  	border: 1px solid #AE3034;
} */

/* Create the indicator (the dot/circle - hidden when not checked) */
/* .radio-select:after {
  	content: "";
  	position: absolute;
  	display: none;
} */

/* Show the indicator (dot/circle) when checked */
/* .radio-btn input:checked ~ .radio-select:after {
  	display: block;
} */

/* Style the indicator (dot/circle) of the radio button*/
/* .radio-btn .radio-select:after {
 	top: 0;
	left: 0;
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	background: #954749;
} */

/* Submit Button Styling */


/* .action-btn{
	padding: 0.8rem 3rem;
	margin-right: 0.5rem;
	border-radius: 10px;
	border: 2px solid #954749;
	background: #954749;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	transition: 0.3s;
}

.action-btn:hover{
	border: 2px solid #954749;
	background: #ffffff;
	color: #954749;
}

.action-btn:focus{
	border: 2px solid #3C3C3C;
	background: #F5F5F5;
	color: #3C3C3C;
} */

/* Styling for all Confirmation Containers */
/* .confirmation-container h2, .confirmation-container p {
	margin-left:0.8rem;
	max-width: 100%;
}

.confirmation-container{
	flex: 1;
	padding: 2rem;
	margin: 1rem 1rem 0 1rem;
	background: #ffffff;
}

.confirmation-container {
  display: none;
}

.hidden.container{
	display: none;
} */

/* Footer Styling */
footer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #3C3C3C;
	color: #F5F5F5;
	font-size: 0.8rem;
	padding: 1rem 1rem;
}

footer div{
	/* padding: 0 2.5rem; */
	padding: 0 5%;
}

footer h4{
	color: #ffffff;
	font-size: 0.9rem;
}

footer ul{
	list-style-type: none;
	margin-left: -2.5rem;
}

footer li{
	margin-top: 0.5rem;
}

/* Footer Navigation Section Styling */
.footer-navigation{
	flex: 3;
}

.footer-navigation a{
	color: #F5F5F5;
}

.footer-navigation a:hover, .footer-navigation a:focus{
	color: #AE3034;
}

.footer-navigation ul{
	margin-top: -0.3rem;
	display: inline-block;
	list-style-type: none;
	margin-left: -2.5rem;
	margin-right: 2.5rem;
}

.footer-navigation li{
	margin-right: 1rem;
	display: inline-block;
}

/* Footer Contact Section Styling */
.footer-contact{
	flex: 3;
}

/* Footer Social Section Styling */
.footer-social{
	display: inline;
	flex: 1;
}

.footer-social img{
	width: 15%;
	margin-right: 0.5rem;
}


/* MEDIA QUERIES */

/* Screen size of 320px - 480px */
@media screen and (min-width:20rem) and (max-width:30rem){

	body {
		font-size: 0.75rem;
	}

	.main-nav{
		padding: 0.4rem 2.5rem;
	}

	.nav-logo, .mobile-nav {
		display: inline-block;
	}

	.nav-logo {
		flex: 2;
		margin-left: -1rem;
	}

	.nav-link-section {
		display: block;
		padding-top: 0.3rem;
		font-size: 1rem;
	}

	.nav-link-section a {
		display: none;
		padding-right: 2.5rem;
		text-align: center;
	}

	.mobile-nav {
		flex: 1;
		font-size: 1rem;
		position: absolute;
		right: 2.5rem;
	}

	.nav-link{
		margin-right: 0.1rem;
		padding: 0;
		font-size: 1.1rem;
	}

	footer{
		flex-direction: column;
		font-size: 0.75rem;
		padding: 1rem;
	}

	footer h4{
		font-size: 0.8rem;
	}

	.footer-navigation ul{
		margin-right: 1.5rem;
	}

	.footer-social img{
		width: 2rem;
		margin-right: 0.5rem;
		padding: 0.1rem;
	}
}

/* Screen size of 480px - 1040px */
@media screen and (min-width:30rem) and (max-width:65rem){

	.nav-logo {
		flex: 3;
		margin-left: 0;
	}

	.nav-link{
		margin-left: 2rem;
		font-size: 1.1rem;
	}

	.nav-link-section a {
		display: inline-block;
	}

	.mobile-nav {
		position: absolute;
		right: 2.5rem;
	  	display: none;
	}

	footer {
		flex-direction: column;
		text-align: center;
	}

	footer h4{
		margin-left: -0.4rem;
	}

	footer div{
		padding: 0;
	}

	.footer-navigation ul{
		margin-left: 1rem;
		margin-right: 0;
		padding: 0 2.4rem;
	}

	.footer-social img{
		max-width: 2rem;
		margin-bottom: 1rem;
		padding: 0 0.4rem;
	}
}

/* Screen size of 1040px - 1440px */
@media screen and (min-width:65rem) and (max-width:90rem){

	.footer-social img{
		width: 20%;
		margin-right: 0.5rem;
	}

	#scrollUpbtn {
		right: 0.2rem;
	}
}


/* ADDITIONAL BREAKPOINTS FOR MOBILE NAV */
/* Screen size below 320px */
@media screen and (max-width:20rem){

	.main-nav, .mobile-nav, .nav-link-section {
		display: block;
		text-align: center;
	}
	.nav-link-section a {
		display: none;
	}
}

/* At exactly 320px */
@media screen and (width:20rem){

	.nav-logo {
		margin-left: -3rem;
	}
}

/* Screen size of 304px - 384px */
@media screen and (min-width:19rem) and (max-width:24rem){

	.nav-logo img {
		padding-left: 0;
	}

	.mobile-nav {
		right: 1rem;
	}
}

/* Screen size below 960px */
@media screen and (max-width:60rem){

	.main-nav {
		display: block;
	}
	.nav-logo, .mobile-nav {
		display: inline-block;
	}

	.mobile-nav {
		display: inline-block;
	}

	.nav-link-section {
		display: block;
		text-align: center;
		padding-top: 0.3rem;

		visibility: visible;
		opacity: 1;
		transition: visibility 0.2s, opacity 0.3s linear;
	}

	.nav-link {
		display: block;
		margin-bottom: 0.8rem;
	}

	.nav-link-section a {
		display: none;
	}

	/* Adjust Placement of Scroll to top Button*/
	#scrollUpbtn {
		right: 1.5rem;
	}
}

/* Screen size above 960px */
@media screen and (min-width: 60rem){

	.mobile-nav {
		display: none;
	}
}



/* ADDITIONAL MEDIA QUERIES FOR FORMS */

/* Screen size below 480px */
@media screen and (max-width:30rem){
	
	/* .form-container{
		margin-left: 0;
		margin-right: 0;
		padding: 0.5rem;
	}

	.form-section{
		display: block;
		margin-right: 1rem;
		margin-bottom: -1.5rem;
	}

	.contact-form {
		margin-left: -0.3rem;
	}

	.confirmation-container {
		margin-left: 0;
		margin-right: 0;
		padding: 0.65rem;
	} */
}

/* Screen size of 480px - 800px */
@media screen and (min-width:30rem) and (max-width: 50rem){
  	.container{
		flex-direction: column;
	}

	p{
		max-width: 100%;
	}

	.image-container{
		margin: 0 auto;
		margin-top: 2rem;
		max-width: 75%;
	}

	/* .form-container{
		padding: 2rem;
	}

	.account-form, .contact-form {
		margin-left: -0.2rem;
		margin-right: 1rem;
	} */
}

/* Screen size of 480px - 896px */
/* @media screen and (min-width: 30rem) and (max-width: 56rem){

	.form-section{
		display: block;
		margin-right: 1.5rem;
		margin-bottom: -1.5rem;
	}

} */

/* Screen size of 800px - 896px */
/* @media screen and (min-width:50rem) and (max-width: 56rem){

	.form-container{
		padding: 2rem;
	}

	.contact-form, .account-form{
		margin-left: -0.2rem;
		margin-right: 1rem;
	}

	.form-section{
		display: block;
		margin-right: 1.5rem;
		margin-bottom: -1.5rem;
	}
} */