/* Image Styling */
.image-container{
	flex: 1;
	order: 2;
	margin-top: 1.5rem;
	margin-right: 1rem;
}

.image-container img{
	width: 100%;
}

/* Subscription Plan Container */
.subscription-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 2.5rem;
}

/* Subscription Plan Options Styling */
.subscription-one, .subscription-two, .subscription-three{
	flex: 1;
	background: #ffffff;
	margin: 1rem 1rem;
	padding: 1.8rem 2.5rem;
}

/* Subscription Title Styling */
.subscription-container h3{
	text-align: center;
}

/* Line Styling */
hr{
	border-top: 2px solid #AE3034;
	margin: -0.5rem 3rem;
}

/* Subscription Price Styling */
.subscription-container h4{
	text-align: center;
	font-size: 2rem;
}

/* Subscription Detail Styling */
.subscription-container li{
	margin-top: 1rem;
}

/* Select Button Styling */
.select-btn {
	width: 40%;
	margin-left: 30%;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

/* MEDIA QUERIES */
/* Screen size below 480px */
@media screen and (max-width:30rem){

	.sub-header{
		padding: 2.5rem 3.8rem;
	}

	.sub-header h1{
		font-size: 1.4rem;
	}

	.container {
		flex-direction: column;
	}

	p{
		max-width: 100%;
	}

	.image-container{
		margin: 0 auto;
		margin-top: 2rem;
		max-width: 70%;
	}

	.subscription-container {
		flex-direction: column;
	}

	.subscription-container ul{
		margin-left: -1.5rem;
	}

	.subscription-one, .subscription-two, .subscription-three{
		padding: 1.8rem 1.5rem;
		margin-left: 0;
		margin-right: 0;
	}

	.subscription-container h4{
		font-size: 1.2rem;
	}

	.contact-form{
		/* extended from main.css */
		margin-right: 0.5rem;
	}

  	.form-section p{
		margin-bottom: 0;
	}

  	.radio-btn {
	 	display: block;
	  margin-top: 0.3rem;
	}

	.contact-sales{
		margin-top: 3rem;
	}
}

/* 480px - 800px */
@media screen and (min-width:30rem) and (max-width: 50rem){

	.image-container{
		margin: 0 auto;
		margin-top: 2rem;
		max-width: 75%;
	}
	
	.subscription-container {
		flex-direction: column;
	}

	.subscription-container h4{
		font-size: 1.5rem;
	}

	.subscription-container ul{
		margin-left: 2%;
	}

  	.form-section p{
		margin-bottom: 0;
	}

  	.radio-btn {
	 	display: block;
	 	margin-top: 0.3rem;
	}

	.contact-sales{
		margin-top: 3rem;
	}
}

/* 800px - 896px */
@media screen and (min-width: 50rem) and (max-width: 56rem){

	.container{
		flex-direction: column;
	}

	p{
		max-width: 100%;
	}

	.image-container{
		margin: 0 auto;
		margin-top: 2rem;
		max-width: 75%;
	}

	.subscription-container {
		flex-direction: column;
	}

	.subscription-container ul{
		margin-left: 12%;
	}

  	.form-section p{
		margin-bottom: 0;
	}

  	.radio-btn {
	 	display: block;
	 	margin-top: 0.4rem;
	}

	.contact-sales{
		margin-top: 3rem;
	}
}

/* 896px - 1088px */
@media screen and (min-width: 56rem) and (max-width: 68rem){

	.container{
		flex-direction: column;
	}

	p{
		max-width: 100%;
	}

	.image-container{
		margin: 0 auto;
		margin-top: 2rem;
		max-width: 70%;
	}

	.subscription-container {
		flex-direction: column;
	}

	.subscription-container ul{
		margin-left: 12%;
	}

	.form-section{
		width: 40%;
		margin-bottom: -1.5rem;
		margin-right: 4.5rem;
	}

	.contact-form{
		margin-left: -0.2rem;
	}

  	.radio-btn {
  		display: block;
	 	padding-left: 1.5rem;
	  	margin-top: 0.5rem;
	}
}

/* Screen size of 1088px - 1248px */
@media screen and (min-width: 68rem) and (max-width: 78rem){

	.form-section{
		width: 40%;
		margin-bottom: -1.5rem;
		margin-right: 10%;
	}

	.contact-form{
		margin-left: -0.2rem;
	}

	.radio-btn{
		margin-right: 2rem;
	}
}

/* Screen size of 1248px - 1440px */
@media screen and (min-width: 78rem) and (max-width: 90rem){

	.form-section{
		width: 40%;
		margin-bottom: -1.5rem;
		margin-right: 10%;
	}

	.form-container{
		padding-left: 5%;
	}

	.contact-form{
		margin-left: -0.2rem;
	}
}

/* Screen size of 1440px - 1728px */
@media screen and (min-width: 90rem) and (max-width: 108rem){

	.form-section{
		width: 40%;
		margin-bottom: -1.5rem;
		margin-right: 10%;
	}

	.form-container{
		padding-left: 5%;
	}

	.contact-form{
		margin-left: -0.2rem;
	}

}

/* Screen size of 1728 or more*/
@media screen and (min-width: 108rem){

	.form-section{
		width: 40%;
		margin-bottom: -1.5rem;
		margin-right: 10%;
	}

	.form-container{
		padding-left: 5%;
	}

	.contact-form{
		margin-left: -0.2rem;
	}
}